html, body {
    height: 100%;
}

.success{

    /*background-color: forestgreen;*/
color: forestgreen;
}

.failure{
    color: red;
}

.default{
    color: black;
}


.container {
    height: 100%;
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}